*{
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}

.box img{
    width: 250px;
    height: 170px;
    border-radius: 4px;
}

.box{
    background-color: rgb(217, 212, 212);
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(400%);
    transition: transform 1.5s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}


.prod-info h2 {
    margin-bottom: 0px;
}

.prod-info p {
    margin-top: 2px;
}
